NEXT_PUBLIC_SUPABASE_URL=https:jwqcoatfjiuexakcjtbn.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp3cWNvYXRmaml1ZXhha2NqdGJuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI4Mzc1MjAsImV4cCI6MjA5ODQxMzUyMH0.vDXVkVo6sCnjOe7cjwJWE85UmlYcjPDT4NvzFiy7CYI
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp3cWNvYXRmaml1ZXhha2NqdGJuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjgzNzUyMCwiZXhwIjoyMDk4NDEzNTIwfQ.YcXi2iYJvFRzdCHhgmaonpkDG-4Y2XfFUkSZZvharmU
ENCRYPTION_KEY=c60aac9f3db96aedbd6fb9e853ed60c9291e3e78a9f875c6a5d755aec1e5dead
NEXT_PUBLIC_SITE_URL=http://localhost:3000
